body{
    background-color: skyblue;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}
.container{
    display: bl;
    position: relative;
    height: 700px;
    width:800px;
    top: 10%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    background-color:powderblue;
    box-sizing: content-box;
    font-family: century gothic;
}

li{
    position: relative;
    font-size: large;
    display: flex;
    background-color: royalblue;
    height: 40px;
    width: 690px;
    padding-top:10px;
    padding-left: 20px;
    margin:4px 0;
    border-radius: 5px;
    text-align: center;
    
}
.favorite{
    height: 76px;
}
